.sidebar {
color: rgb(0,200,50);
font-size:2rem;
}

h1 {
color: rgb(255,100,100);
font-family:Palatino, 'Palatino Linotype', serif;
}

ul {
color: rgb(255,200,155);
font-size:3em;
}

.main {
color: rgb(255,100,100);
font-size:2rem;
}

