.menu {
background-color: rgb(0,0,0);
color: rgb(255,255,255);
list-style-type: none;
font-size: 2rem;
float: left; <!--sidebar positioned to the left-->
text-align: center; <!--sidebar text to the center-->
}

.main {
color: rgb(255,100,100);
font-size:2rem;
}

